.each-punch-loader {
  width: calc(50% - 20px) !important;
  min-width: calc(50% - 20px) !important;
  max-width: calc(50% - 20px) !important;
  margin-left: 10px;
  margin-top: 10px;
}

.each-punch-loader:hover {
  background-color: #dddbdd !important;
}
