.my-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  background: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(8px);
}

.my-modal-element {
  position: fixed;
  z-index: 102;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
