.buses {
  /* background: var(--buses-background); */
  padding: 20px;
  display: flex;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  position: relative;
}

.add-bus {
  width: 200px;
  height: 100px;
  margin: 10px 20px;
  color: var(--my-blue);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease-out;
  border-radius: 10px;
}

.add-bus:active {
  transform: scale(0.9);
}

/* .add-bus:hover {
  background: var(--add-bus-hover-background);
} */
.add-bus:hover {
  transform: scale(1.1);
}

.buses-section-container {
  padding: 20px;
  background-color: var(--app-background);
}

.buses-header {
  padding: 10px 10px;
  border-bottom: 3px solid var(--app-background);
}

.buses-header-button {
  padding: 3px 5px;
  font-size: medium;
  border-radius: 0;
  margin: 0;
}

.buses-refresh-button {
  margin: 0 10px;
}

.mac-buttons {
  height: fit-content;
  margin: auto 20px;
}
.mac-buttons .tool {
  padding-left: 8px;
  margin-left: 4px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-block;
}
.mac-buttons > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.close {
  background: #e33e41;
  border: 1px solid #ff5c5c;
}

.close:active {
  background: #c14645;
  border: 1px solid #b03537;
}

.minimize {
  background: #ffbd4c;
  border: 1px solid #e09e3e;
}

.minimize:active {
  background: #c08e38;
  border: 1px solid #af9833;
}

.zoom {
  background: #00ca56;
  border: 1px solid #14ae46;
}

.zoom:active {
  background: #029740;
  border: 1px solid #128435;
}

.bus-filter-active > small {
  color: blue;
  font-weight: 500;
}

.sos-alert > .tool {
  animation: glow 1s infinite forwards;
}

@keyframes glow {
  from {
    box-shadow: 0 5px -5px #f88b78, 0 0 5px -5px #f4e1ae;
  }
  to {
    box-shadow: 0 0 5px 5px #f88b78, 0 0 5px 5px #f4e1ae;
  }
}

@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 5px -5px #f88b78, 0 0 5px -5px #f4e1ae;
  }
  to {
    box-shadow: 0 0 5px 5px #f88b78, 0 0 5px 5px #f4e1ae;
  }
}
