/* .alert-enter {
  transform: translateX(100vw);
}
.alert-enter-active {
  transform: translateX(0);
  transition: transform 300ms, transform 300ms;
}
.alert-exit {
  transform: translateX(0);
}
.alert-exit-active {
  transform: translateX(100vw);
  transition: opacity 300ms, transform 300ms;
} */

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.each-bus-detail {
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
}
.bus-content {
  z-index: 3;
}

.fake-detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.qr-container-bus {
  width: 300px !important;
  height: 300px !important;
}

/* @media (min-width: 501px) {
  .qr-container-bus {
    width: 300px !important;
    height: 300px !important;
  }
} */

.qr-container-bus > img,
.qr-container-bus > div {
  width: 100%;
  height: 100%;
}

.each-bus-details-buttons-container {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}
.each-bus-details-buttons-container > button {
  margin: 5px 5px;
  min-width: fit-content;
}

@media (max-width: 991px) {
  .qr-container-bus {
    width: 100px !important;
    height: 100px !important;
  }
  .each-bus-detail {
    padding: 10px !important;
  }
}

.each-bus-detail-form {
  max-width: 100%;
  overflow: scroll;
}

.tooltip-arrow,
.green-tooltip + .tooltip > .tooltip-inner {
  background: rgb(64, 255, 0) !important;
}
