.app-heading {
  display: flex;
  flex: 1;
  height: 100%;
}

.top-logo {
  /* background-image: url("../../../assets/app-logo.png"); */
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  margin: auto 20px;
}

.app-heading {
  color: rgb(247, 247, 247);
}
