.animated-slider {
  list-style: none;
}

.slide-enter {
  /* opacity: 0; */
  width: 0;
}

.slide-enter-active {
  /* opacity: 1; */
  transition: width 0.3s ease-out, transform 0.3s ease-out;
  width: 100%;
}

.slide-exit {
  /* opacity: 1; */
  width: 100%;
}

.slide-exit-active {
  /* opacity: 0; */
  width: 0;
  transition: width 0.3s ease-out, transform 0.3s ease-out;
}
